body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-1, .bg-2, .bg-3 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.bg-1 {
    background: url('https://www.stockvault.net/data/2007/03/01/100489/thumb16.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.bg-2 {
    background: black;
    color: white;
}

.bg-3 {
    background: url('https://cdn.pixabay.com/photo/2024/05/08/17/45/animal-8748794_1280.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}